body {
    background-position-y: bottom;
    background-position-x: center;
    background-image: url("backgr copy.png");
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
header img {
    margin-bottom: 63px;
}
section {
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 828px;
    background-color: #f3f3f3;
    justify-content: start;
    border-radius: 7px;
    padding: 50px 70px 50px 70px;
    margin-bottom: 59px;
}



nav {
    width: 876px;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin-bottom: 25px;
}


nav a {
    text-transform: uppercase;
    color: rgb(241, 241, 241);
}
nav li{
    line-height: 1.5;
    font-size: 16px;
    list-style: none;
    font-family: Tahoma,Verdana,Segoe,sans-serif;

}
nav i {
    color: white;
}
section h1 {
    width: 100%;
    font-size: 24pt;
    color: #0e4d66;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}


.first_content {
    display: flex;
    flex-direction: row;
}
.first_content img {
    width: 182px;
    height: 192px;
    margin-right: 27px;
    margin-top: 5px;
}
.first {
    font-size: 14px;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    font-weight: bold;
    color: #0e4d66;
}
table td {
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    color: #0e4d66;
    font-size: 14px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.second_content h2 {
    color: #0e4d66;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.third_content h2{
    font-size: 22px;
    color: #0e4d66;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.title_content {
    font-size: 18px;
    font-weight: bold;
    color: #0e4d66;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.bottom_content h4 {
    line-height: 2.0em;
    font-size: 14px;
    color: #0e4d66;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}


footer {
    width: 950px;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.line {
    background-image: url("line.png");
    position: absolute;
    left: 399px;
    top: 1091px;
    width: 1200px;
    height: 2px;
    z-index: 5;
}
.left_footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 360px;
    margin-left: 35px;

}
.right_footer img {
    width: 30px;
    height: 25px;
    padding-right: 15px;
}
.left_footer h2 {
    height: 35px;
    font-size: 24pt;
    font-family: "Arial", sans-serif;
    color: rgb(242, 176, 28);
    line-height: 1.25;
    margin-right: 10px;
}
.left_footer h5 {
    font-size: 12pt;
    font-family: "Arial", sans-serif;
    color: white;

}
.right_footer {
    margin-top: 20px;
    font-family: "Arial", sans-serif;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
align-items: flex-end;
}
.right_footer_text {
    width: 140px;
    color: white;
}
.right_footer a {
    color:#4083a9;
}


